<div class="header">
  <div class="logo row">
    <div class="col">
      <a href="/">
        <img class = "animated fadeInRight" src="assets/logo-2.png" />
      </a>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm bg-dark">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isLoggedin" >
          <a class="nav-link" href="/">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedin" >
          <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedin" >
          <a class="nav-link" href="/search">Search</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/about-us ">About Us</a>
      </li>
      <li class="nav-item pull-right" *ngIf="isLoggedin">
        <a class="nav-link float-right" (click)="logout()" href="#">Logout</a>
      </li>
      
    </ul>

  </nav>

</div>