<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h3> About Us. </h3>
                    <!-- start slipsum code -->

                    <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! </p>

                    <!-- end slipsum code -->
                </div>
                <div class="col-4 ">
                    <h3> Contact Us </h3>
                    <ul>
                        <li>
                                DieSachbearbeiter
                        </li>
                        <li>
                                Choriner Straße 49
                                
                        </li>
                        <li>
                                10435 Berlin
                                
                        </li>
                        <li>
                                E-Mail: moinsen@blindtextgenerator.com
                                
                        </li>
                    </ul>
                </div>
                
                <div class="col-4">
                    <h3> Get treasure in your eamil! </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Subscribe to get offers in email.
                                    <i class="fa fa-long-arrow-right"> </i>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="#">
                                <i class=" fa fa-facebook">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-pinterest">   </i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-youtube">   </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
            <p class="pull-left"> Copyright © Siili store Plugin 2017. All right reserved. </p>
    </div>
    <!--/.footer-bottom-->
</footer>