<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    
    <div class="container">
        <div class = "row">
            <div style = "padding-top: 150px" class ="animated slideInLeft col-md-8">
                <h2>One man's trash is another man's treasure</h2>
                <p >
                    We provide an effective and smart way to overcome the storage problems and while doing so it also provides a way to make money out of it.
                </p>
                <p>SellSiili strive for reducing the carbon footprint in the world by connecting people who have extra stuff with their potential buyers/renter, thus making the world a better place.</p>
                <p> Additionally, if you are a 2nd Hand stuff business owner, you can have your own personalized webstore connected with a very large userbase.</p>
                <h3>Start by signing in!</h3>
            </div>
            <div class = "col-md-4">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form (submit)="submit()" class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
            </div>
        </div>
    </div><!-- /container -->