<h1>Howdy {{data.name}}</h1>
<h4>You can start by searching the stuff you need!</h4>
<form>
<div class="row animated fadeInLeft">
  <div class="col-md-12">
    <input class="input-txt" type="text">
    <button class="btn btn-success" type="submit" value="Search">Search</button>
  </div>

</div>
</form>
<br /><br />
<h3>Some Stuff About Us</h3>

<!-- start slipsum code -->

<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed
  is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his
  brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger
  those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance
  upon thee. </p>

<!-- end slipsum code -->