<h1>Howdy {{data.name}}!</h1>
<form>
  <div class="row animated fadeInLeft">
    <div class=" col-md-12">
      <div class=" search-box">
        <h4>You can start by searching the stuff you need!</h4>

        <form #searchForm="ngForm" (submit)="onSubmit(searchForm)">
          <input placeholder="Search for stuff you want to buy." class="input-txt" name="id" type="text" ngModel>
          <button class="btn btn-success" style="background-color:#d62d20;border:#d62d20;" type="submit" value="Search">Search</button>
        </form>
      </div>
    </div>

  </div>
</form>
<br />
<br />

<!-- start slipsum code -->
<div class="row">
  <div class="col-12">
    <div class="store-help">
      <h3>Want your ad in here?</h3>
      <p>Do you have stuff laying around in your basement? you can use our service to rent/sell it. We provide a platform which reduces the carbon footprint in the world by connecting buyers who can manage their basement storage by using our application and additionally sell/rent the stuff which they don't need right away. Sounds interesting? </p>
      <a href="/about-us">This is how you can do it!</a>
    </div>
  </div>
</div>

<!-- end slipsum code -->

<h2>Your last search results:</h2>
<p *ngIf="!searched">You haven't searched anything yet.</p>
<div *ngIf="searched" class="row">
  <div class="col-3" *ngFor="let result of results; let i=index">
    <div class="card card-{{i}}">
      <img class="card-img-top " src="{{result.image}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{result.title}}</h4>
        <p class="card-text">{{result.description}}</p>
        <a href="/product/{{result.id}}" class="btn btn-primary">Go Buy!</a>
      </div>
    </div>
  </div>
</div>